{
  "presets": [
    ["env", {"modules": false}],
    "react"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "testing": {
      "presets": ["env", "react"],
      "plugins": []
    }
  }
}
