{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
  ],
  "env": {
    "browser": true,
    "mocha": true,
  },
  "rules": {
    // configure import rules according to our webpack config
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,

    // ignore react-redux' dispatch
    "react/prop-types": ["error", { ignore: ["dispatch"], customValidators: [] }],

    // this should be up the the user's preference
    "arrow-body-style": 0,

    // just follow PEMDAS, airbnb are considering loosening this: https://github.com/airbnb/javascript/issues/1089
    "no-mixed-operators": 0,
  }
}
