@import "~main.scss";

.Products__heading {
  color: $brand-primary;
}

.Products__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $charcoal-dark;

  a, a:hover {
    color: inherit;
  }
}

.Products__name {
  font-weight: bold;
}

.Products__description {
  color: #666;
  margin-left: $spacer;
}

.Products__cell-footer {
  display: flex;
  justify-content: space-between;
}

.Products__price {
  font-size: $font-size-gamma;
  font-weight: bold;
}
