$charcoal-dark: #333333;
$ikea-blue:     #08579e;
$black:         #000000;

$font-size-alpha: 2.25rem;   // 36px
$font-size-beta:  1.5rem;    // 24px
$font-size-gamma: 1.125rem;  // 18px
$font-size-delta: 0.9375rem; // 15px
$font-size-micro: 0.75rem;   // 12px

// customise bootstrap
$font-size-base: $font-size-micro;

$spacer: 0.75rem;

$link-hover-decoration: none !default;

$brand-primary: $ikea-blue;

$icon-font-path: "~bootstrap/fonts/";
@import "~bootstrap/scss/bootstrap";

.layout {
  padding-top: 2 * $spacer;
}

// Make all buttons, including faux-links have cursor to 
// indicate the user can interact with this element. This is
// especially important for flat buttons or .btn-link which
// should appear the same as a hyperlink.
button {
  cursor: pointer;
}

.with-placeholder {
  width: 250px;
  height: 250px;
  background-size: 250px;
  background-image: url(/img/placeholder.svg);
}
